{% include "header.html" %}
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus dolor in odio consequat, nec ultrices mauris ultricies. Nullam bibendum, velit ac suscipit placerat, sapien erat bibendum justo, nec volutpat nunc nisl ac sapien. Quisque varius justo eget turpis auctor, a auctor magna feugiat. Integer eget est ac lectus blandit ultricies. Integer vel mi a enim interdum viverra. Sed interdum, eros sit amet fringilla fermentum, dolor sapien volutpat dolor, eu vehicula risus magna nec quam. Phasellus vulputate velit id nisi viverra, et condimentum sapien facilisis. Suspendisse potenti.</p>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %}
